.help-project {
    background-image: url('../../images/help-project/help-project.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.help-project__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.help-project__title {
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: var(--white);
    font-family: var(--second-family);
    margin-bottom: 16px;

}

.help-project__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    font-family: var(--font-family);
    margin-bottom: 24px;
    max-width: 835px;
}

.help-project__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 350px;
    align-items: flex-start;
}

.help-project__input {
    padding: 13.5px 16px;
    background: var(--white);
    width: 100%;
    border: none;
}

.help-project__input:focus {
    outline: 1px solid var(--green-focus);
    outline-offset: 3px;
}

.help-project__input:hover {
    background: var(--grey)
}

.help-project__input:hover::placeholder {
    color: var(--white);
}

.help-project__input:active {
    background: var(--grey);

}

.help-project__input:active::placeholder {
    color: var(--background-shade);
}

.help-project__input:user-invalid {
    outline: 1px solid red;
    outline-offset: 3px;
}

.error {
    font-weight: 400;
    font-size: 12px;
    color: var(--red);
    display: none;
    transform: translateY(-10px);
}

.help-project__label:has(.help-project__input:user-invalid) .error{
    display: block;
}

.help-project__label {
    width: 100%;
}

.help-project__btn {
    padding: 12px 26px;
    background: var(--primary-green);
    font-weight: 700;
    font-size: 16px;
    color: var(--background-shade);
    font-family: var(--font-family);
}

.help-project__btn:focus-visible {
    background: var(--primary-green);
    outline: 1px solid var(--background-shade);
}

.help-project__btn:hover {
    background: var(--green-hover);
}

.help-project__btn:active {
    background: var(--green-activeclick);
}