.new-artifacts {
    padding-bottom: 57px;
}

.new-artifact__wrapper {
    display: flex;
    gap: 30px;
}

.new-artifacts__img {
    height: 100%;
    object-fit: cover;

}

.new-artifacts__title {
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: var(--white);
    font-family: var(--second-family);
    margin-bottom: clamp(1.5rem, 1.3929rem + 0.5357vw, 1.875rem);
}


.new-artifacts__description {
    max-width: 255px;
    background: var(--primary-green);
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
}


.new-artifacts__label {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--background);
    font-family: var(--second-family);
    margin-bottom: 8px;
}

.new-artifacts__content {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.new-artifacts__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--green-text);
    font-family: var(--font-family);
}

.new-artifacts__link {
    margin-top: auto;
    font-weight: 700;
    font-size: 16px;
    color: var(--background-shade);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    gap: 8px;
}

.new-artifacts__link:focus-visible {
    outline: 1px solid var(--green-focus);
    outline-offset: 3px;
}

.new-artifacts__link:hover {
    color: var(--green-activeclick);
}

.new-artifacts__box {
    position: relative;
}

.new-artifacts__hint {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
    position: absolute;
    left: 16px;
    bottom: 16px;
    display: none;
}

@media(max-width:768px) {
    .new-artifact__wrapper {
        flex-direction: column;
    }

    .new-artifacts__description {
        max-width: none;
    }

    .new-artifacts__content {
        margin-bottom: 75px;
    }

    .new-artifacts__box {
        height: 500px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .new-artifacts__hint {
        display: block;
    }

    .new-artifacts__img {
        object-fit: contain;
        max-width: 800px;
    }
}